fastapi
uvicorn
psycopg2-binary
sqlalchemy
python-dotenv
tikapi
fastapi
uvicorn
google-genai
google-cloud-bigquery
google-cloud-pubsub>=2.13.0
python-dotenv
tqdm
Jinja2
python-multipart
faiss-cpu
alembic