<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Video Summarizer</title>

  <!-- 使用 Google Fonts: Inter -->
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    rel="stylesheet"
  />

  <!-- marked.js -->
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <!-- 引入样式模块 -->
  {% include "styles.html" %}
</head>
<body>
  {% include "scripts.html" %}
  <!-- 引入导航栏模块 -->
  {% include "navbar.html" %}

  <!-- 主布局 -->
  <div class="flex-container">
    <!-- 引入侧边栏模块 -->
    {% include "sidebar.html" %}

    <!-- 引入主内容区模块 -->
    {% include "main_content.html" %}
  </div>

  <!-- 引入脚本模块 -->
  
</body>
</html>